td img{
    height: 30px;
}
tr{
    width: 1vw;
    border: 5px solid red;
}
td{
    width: 20%;
    text-align: center;
    border: 5px solid red;
}
body{
    background-color: white;
}
#header{
    color: white;
    background-color: #007bff;
    text-align: center;
    padding: 10px;
    ;
}