td img{
    height: 30px;
}
tr{
    width: 100%;
}
body{
    background-color: white;
}
#header{
    color: white;
    background-color: #007bff;
    text-align: center;
    padding: 10px;
    ;
}