td img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
tr{
    width: 1vw;
    
}
td{
    width: 0.2vw;
    text-align: center;
    border-bottom: 1px solid grey;
}
body{
    background-color: white;
}
#header{
    color: white;
    background-color: #007bff;
    text-align: center;
    padding: 10px;
    ;
}